@use "variables";

@mixin color-textoFondo($color: variables.$color-hover, $fondo: #eee) {
  color: $color;
  background-color: $fondo;
}

@mixin box-sizing($boxsize) {
  box-sizing: $boxsize;
}

@mixin transiciones-nav($property, $duration, $timing: linear) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

@mixin animaciones-nav($name, $duration, $timing: linear) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
}

@mixin show-submenu-responsive($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}@use "variables";

@mixin color-textoFondo($color: variables.$colorText, $fondo: variables.$colorBack) {
  color: $color;
  background-color: $fondo;
}

@mixin box-sizing($boxsize) {
  box-sizing: $boxsize;
}

@mixin transiciones-nav($property, $duration, $timing: linear) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

@mixin animaciones-nav($name, $duration, $timing: linear) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
}

// Mixin responsive según el tamaño
@mixin responsive($size) {
  @if ($size == medium) {
    @media (max-width: #{variables.$breakpoint-responsive-medium}) {
      @content;
    }
  } @else if ($size == small) {
    @media (max-width: #{variables.$breakpoint-responsive-small}) {
      @content;
    }
  }
}
