@use "sass:color";

$colorText: #eee;
$colorBack: #15a; // Antes $gris, ahora el fondo principal

$colorTextHover: color.adjust($colorText, $lightness: 10%);
$colorBackHover: color.adjust($colorBack, $lightness: 10%);
$colorTitulo: color.adjust($colorBack, $lightness: -10%);

// Breakpoints
$breakpoint-responsive-medium: 1024px;
$breakpoint-responsive-small: 800px;