@use "variables";
@use "mixin";

nav {
  @include mixin.color-textoFondo(variables.$color-hover,
    variables.$color-iluminar );
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  a {
    @include mixin.color-textoFondo(variables.$color-hover, variables.$gris);
    text-decoration: none;
    width: 160px;
    padding: 7px 20px;
    display: block;
    text-align: center;
    cursor: pointer;
  }

  a:hover {
    @include mixin.color-textoFondo(variables.$color-hover,
      variables.$color-iluminar );
    @include mixin.animaciones-nav(iluminar, 0.4s);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
  }

  >ul {
    width: 100%;
    height: 32px;
    @include mixin.color-textoFondo(variables.$color-hover, variables.$gris);
  }
}

ul {
  list-style-type: none;
}

.categoria {
  float: left;

  a {
    @include mixin.transiciones-nav(padding, 0.5s, ease-out);
  }
}

.categoria:hover>a {
  padding: 10px 20px;
}

.submenu {
  @include mixin.transiciones-nav(height, 0.5s);
  position: absolute;
  overflow: hidden;
  height: 0px;
}

.categoria:hover .submenu {
  height: 100px;
}