@use "variables";
@use "mixin";
@use "menu";

body {
  margin: 0;
  padding: 0;
}

header {
  @include mixin.color-textoFondo(variables.$gris);
  padding: 12px 30px;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  @include mixin.box-sizing(border-box);
  @include mixin.color-textoFondo(variables.$color-hover, variables.$gris);
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}