@use "variables";
@use "mixin";

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding-left: 0.5em;
}

#menu-toggle {
  display: none;
}

@media (max-width: variables.$breakpoint-responsive) {
  .menu-icon {
    display: block;
  }

  nav {
    ul {
      display: none;

      li.categoria {
        display: block;
        float: none;

        a {
          @include mixin.color-textoFondo(variables.$color-hover, variables.$gris);
          display: block; /* Limita el hover al tamaño del enlace */
          width: 160px;   /* O el tamaño necesario */
          text-align: center;
          padding: 7px 20px;
          @include mixin.transiciones-nav(background-color, 0.3s);

          &:hover {
            @include mixin.color-textoFondo(variables.$color-hover, variables.$color-fondo);
          }
        }

        &:hover {
          background-color: transparent; /* Evita que el `li` propague el color */
        }

        .submenu {
          display: none;
          @include mixin.transiciones-nav(height, 0.5s);

          li {
            display: block;
            float: none;
          }
        }

        &:hover .submenu {
          @include mixin.show-submenu-responsive(variables.$breakpoint-responsive) {
            display: block;
            position: absolute;
            left: 29%;
            width: calc(100% + 20px);
          }
        }
      }
    }

    #menu-toggle:checked ~ ul {
      display: block;

      li.categoria {
        display: block;
        float: none;

        .submenu {
          @include mixin.show-submenu-responsive(variables.$breakpoint-responsive) {
            display: block;
            position: absolute;
            width: calc(100% + 20px);
          }
        }
      }
    }
  }
}